# =========================
# Backend (Python / FastAPI)
# =========================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# =========================
# Frontend (React / Vite)
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Sistema / general
# =========================
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# =========================
# Opcional (futuro Raspberry / config)
# =========================
*.env